<div
  class="video-js-container">
  {{- $class := slice "video-js vjs-default-skin" }}
  {{- with .aspectRatio }}
    {{- $class = $class | append (printf "vjs-%s" (replace . "x" "-")) }}
  {{- else }}
    {{- $class = $class | append "vjs-fluid" }}
  {{- end }}
  <video
    data-setup="{}"
    width="100%"
    height="100%"
    class="{{ delimit $class ` ` }}"
    {{ if default false .muted }}muted{{ end }}
    {{ if default true .controls }}controls{{ end }}
    {{ if default false .loop }}loop{{ end }}
    {{ if default false .preload }}preload="auto"{{ end }}
    {{ if default false .autoplay }}autoplay{{ end }}>
    <source
    src="{{ .src }}"
    {{ with .type }}type="{{ . }}"{{ end }}>
  </video>
</div>
