<div
  class="video-js-container">
  <video
    data-setup="{}"
    width="100%"
    height="100%"
    class="video-js vjs-default-skin vjs-fluid"
    {{ if default false .muted }}muted{{ end }}
    {{ if default true .controls }}controls{{ end }}
    {{ if default false .loop }}loop{{ end }}
    {{ if default false .preload }}preload="auto"{{ end }}
    {{ if default false .autoplay }}autoplay{{ end }}>
    <source
    src="{{ .src }}"
    {{ with .type }}type="{{ . }}"{{ end }}>
  </video>
</div>
